<%= form_with(model: goal) do |form| %>
  <% if goal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
        <% goal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :owner_id, style: "display: block" %>
    <%= form.text_field :owner_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= form_with(model: goal, class: "card-body") do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <ul class="list-unstyled">
        <% goal.errors.each do |error| %>
          <li>
            <div class="alert alert-danger" role="alert">
              <%= error.full_message %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control" %>
    <%= form.hidden_field :owner_id, value: current_user.id, class: "form-control" %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :amount_needed, style: "display: block" %>
    <%= form.text_field :amount_needed %>
  </div>

  <div>
    <%= form.label :amount_saved, style: "display: block" %>
    <%= form.text_field :amount_saved %>
  </div>

  <div class="actions d-grid gap-2">
    <%= form.submit class: "btn btn-outline-primary btn-block" %>
  </div>
<% end %>
