<div id="<%= dom_id goal %>">
  <p>
    <strong>Image:</strong>
    <%= goal.image %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= goal.name %>
  </p>

  <p>
    <strong>Amount needed:</strong>
    <%= goal.amount_needed %>
  </p>

  <p>
    <strong>Amount saved:</strong>
    <%= goal.amount_saved %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= goal.status %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= goal.owner_id %>
  </p>

</div>
